# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django static/media
/staticfiles/
media/
staticfiles/

# Entorno virtual
venv/
env/

# Archivos de entorno (no subir nunca)
.env
.env.*
!.env.example
.envrc

# Certificados / claves / CAF (no subir nunca)
*.pfx
*.p12
*.pem
*.key
*.cer
*.crt
*.der
*.caf
*.xml  # si generas XML firmados para SII, mantenlos fuera del repo

# Logs y temporales
*.log
*.tmp
*.DS_Store

# Editor/IDE
.vscode/
.idea/