{% extends "dashboard_admin/base.html" %}
{% load static %}

{% block dashboard_content %}

<link
  rel="stylesheet"
  href="{% static 'planificacion/css/real_plan/board.css' %}?v=20260914_03"
>

<div
  id="real-plan-page"
  class="space-y-5 w-full max-w-full min-w-0"
>

  {% include "planificacion/real_plan/partials/_header.html" %}

  {% include "planificacion/real_plan/partials/_summary.html" %}

  {% include "planificacion/real_plan/partials/_filters.html" %}

  {% include "planificacion/real_plan/partials/_board.html" %}

</div>

<script src="{% static 'planificacion/js/real_plan/board.js' %}?v=20260914_04"></script>

{% endblock %}