{% extends "dashboard/base.html" %} 

{% block title %}Inicio - Dashboard{% endblock %}

{% block content %}
<div class="text-center mt-10">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">
        ¡Hola {{ request.user.get_full_name }}!
    </h1>
    <p class="text-xl text-gray-600 mb-6">
        ¿En qué podemos ayudarte hoy?
    </p>
    
    <div class="flex flex-wrap justify-center gap-4 px-4">
	<a href="{% url 'rrhh:mis_contratos' %}" class="w-full sm:w-auto bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-3 px-6 rounded-lg shadow transition text-center">
            📄 Ver Contrato
        </a>
        <a href="{% url 'liquidaciones:listar' %}" class="w-full sm:w-auto bg-yellow-600 hover:bg-yellow-700 text-white font-semibold py-3 px-6 rounded-lg shadow transition text-center">
            💰 Ver Liquidaciones
        </a>
        <a href="#" class="w-full sm:w-auto bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg shadow transition text-center">
            📊 Ver Producción
        </a>
        <a href="#" class="w-full sm:w-auto bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-6 rounded-lg shadow transition text-center">
            🎓 Ver Cursos
        </a>
        
    </div>
</div>
{% endblock %}

